.wrapper {
  padding-top: 50px;
  background: #eceff1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  margin-left: 170px;
  margin-right: 170px;
  background-image: linear-gradient(to left bottom, #5e5d5b, #193a31);
  background-size: cover;
  background-repeat: no-repeat;
}
